$primary-color: #1a1442;
$secondary-color: #ff8b88;
$lighter-blue: #014c87;
$blue: #1168ad;
$dark-blue: #014c87;
$dark-pink: #e7807d;
$medium-pink: #ff8986;
$lighter-pink: #ffe7e7;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
$breakpoint-xxl: 1920px;

$filter-dark-blue: invert(10%) sepia(80%) saturate(5133%) hue-rotate(194deg)
  brightness(101%) contrast(99%);

$filter-dark-pink: brightness(0) invert(59%) sepia(22%) saturate(967%)
  hue-rotate(314deg) brightness(97%) contrast(89%);

$navbar-height: 100px;
$sliderAnimationSpeed: 30s;
